body {
  background-color: #7395ae;
}

.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}

#box {
  border-width: medium;
  height: 200px;
  width: 150%;
  margin-left: 37.25%;
}

#searchBox {
  border-width: medium;
  border-radius: 25px;
  background-color: #557a95;
  height: 300px;
  width: 150%;
  color: #e3e3e3;
  font-size: 25px;
  text-align: center;
  width: 400px;
  height: 275px;
  padding: 35px 0;
  margin-left: 37.25%;
}

#Date {
  font-family: 'Source Sans Pro', sans-serif;
}
#date {
  font-family: 'Source Sans Pro', sans-serif;
}

#Capacity {
  height: 23px;
  font-family: 'Source Sans Pro', sans-serif;
}
#capacity {
  font-family: 'Source Sans Pro', sans-serif;
}

#Price {
  height: 23px;
  font-family: 'Source Sans Pro', sans-serif;
}
#price {
  font-family: 'Source Sans Pro', sans-serif;
}

input:focus{
  border: 1px solid #a0acbf;
  background-color: #fee;
}

h1 {
  color: #e3e3e3;
  margin-left: 37.25%;
  font-family: 'Playfair Display', serif;
}

h3 {
  /* border: 3px solid grey; */
  color: #e3e3e3;
  width: 400px;
  height: 175px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}
