body {
  margin: 0;
  background-color: #7395ae;
}

.topLine {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 5px 389px; /*1:height, 2:width */
  top: 63px;
  left: 255px;
}

.topLine a {
  float: left;
  color: #e3e3e3;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header #search {
  font-size: 25px;
  font-weight: bold;
}

.ViewSort {
  float: right;
}

.searchOutput {
  color: #e3e3e3;
  /* background-color: #f1f1f1; */
  padding: 5px 389px; /*1:height, 2:width */
  top: 300px; /* move up or down */
  left: 255px;
}

.searchOutput #price {
  color: green;
  font-size: 20px;
}

.searchOutput #title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.searchOutput #website {
  color: #b0e9ff;
  text-decoration: underline;
}

.searchOutput #item {
  align-items:center;
  padding: 10px 0px; /*1:height, 2:width */
  border-bottom-style: solid;
}

img {
  float: left;
  margin-right: 1rem;
  width: 180px;
  height: 100px;
}

}
