/* Based off of https://www.w3schools.com/howto/howto_js_sidenav.asp */

.sidenav {                                                                      /*the "box" of the sidenav */
  width: 250px;                                                                 /* Set the width */
  height: 500px;                                                                /* Set the height */
  position: fixed;                                                              /* Keep the position fixed no matter the page size/scroll */                                                                   */
  top: 63px;                                                                    /* move sidenav up or down */
  overflow-x: hidden;                                                           /* Hide any overflow in the x direction */
  padding: 8px 0;                                                               /* 1:height 2:width */
}

.sidenav #a1 {                                                                    /* Each item in the side nav */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Set the font */
  padding: 6px 8px 6px 16px;                                                    /* Set padding around each item */
  text-decoration: none;                                                        /* No text decoration */
  font-size: 15px;                                                              /* Set the font size */
  display: block;                                                               /* Display to block */
  color: #e3e3e3;                                                               /* Set the color */
}
.sidenav #a2 {                                                                    /* Each item in the side nav */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Set the font */
  padding: 6px 8px 6px 16px;                                                    /* Set padding around each item */
  text-decoration: none;                                                        /* No text decoration */
  font-size: 15px;                                                              /* Set the font size */
  display: block;                                                               /* Display to block */
  color: #e3e3e3;                                                               /* Set the color */
}
.sidenav #a3 {                                                                    /* Each item in the side nav */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Set the font */
  padding: 6px 8px 6px 16px;                                                    /* Set padding around each item */
  text-decoration: none;                                                        /* No text decoration */
  font-size: 15px;                                                              /* Set the font size */
  display: block;                                                               /* Display to block */
  color: #e3e3e3;                                                               /* Set the color */
}

.sidenav input {                                                                /* Each input item in the side nav */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Set the font */
  position: fixed;                                                              /* Keep the position fixed no matter the page size/scroll */
  left: 90px;                                                                   /* Move right as number increases */
  width: 148px;                                                                 /* Set the width */
}

.sidenav select {                                                               /* Each select item in the side nav */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Set the font */
  position: fixed;                                                              /* Keep the position fixed no matter the page size/scroll */
  left: 90px;                                                                   /* Move right as number increases */
  width: 153px;                                                                 /* Set the width */
  height: 23px;                                                                 /* Set the height */
}

.sidenav .filter {                                                              /* Filter label above the actual filters */
  font-family: 'Playfair Display', serif;                                       /* Set the font */
  color: #e3e3e3;                                                               /* Set the color */
  text-align: center;                                                           /* Align in center */
  font-size: 25px;                                                              /* Set the font size */
  text-decoration: none;                                                        /* No text decoration */
  border-bottom: 1px solid #e0e0e0;                                             /* Add a border underneath */
}
