body {
  margin: 0;
  background-color: #7395ae;
}

.topLine {
  overflow: hidden;
  padding: 5px 389px; /*1:height, 2:width */
  top: 63px;
  left: 255px;
}

.topLine a {
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  color: #e3e3e3;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header #search {
  font-size: 25px;
  font-weight: bold;
}

#Date {
  width: 153px;
}

#Sort {
  height: 23px;
  font-family: 'Source Sans Pro', sans-serif;
}

.searchOutput {
  font-family: 'Source Sans Pro', sans-serif;
  color: #e3e3e3;
  padding: 5px 389px; /*1:height, 2:width */
  top: 300px; /* move up or down */
  left: 255px;
}

.searchOutput #price {
  color: #7bd96c;
  font-size: 20px;
}

.searchOutput #title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 20px;
  color: #b0e9ff;
}

.searchOutput #website {
  text-decoration: underline;
}

.searchOutput #item {
  align-items:center;
  padding: 10px 0px; /*1:height, 2:width */
  border-bottom-style: solid;
}

img {
  float: left;
  margin-right: 1rem;
  width: 180px;
  height: 100px;
}

a {
  color: #b0e9ff;
}
