* {box-sizing: border-box;}

body {
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #557a95;
  padding: 5px 10px; /*1:height, 2:width */
}

.header a {
  font: 'Playfair Display';
  float: left;
  color: #e3e3e3;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.headerWords {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
