body {
  background-color: #7395ae;
}

.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}

#box {
  border-width: medium;
  height: 250px;
  width: 150%;
  margin-left: 37.25%;
}


img {
  width: 200px;
  height: 600px;
  float: left;
}

.pic {
  float: left;
}

#text {
  margin-left: 3%;
  text-align: center;
  /* background-color: blue; */
}

.member {
  border-width: medium;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  height: 500px;
  width: 150%;
}

.bios {
  margin-left: 150px;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #e3e3e3;
  text-align: center;
}

h2 {
  color: #e3e3e3;
  font-family: 'Playfair Display', serif;
  text-align: left;
}

p {
  color: #e3e3e3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;

  text-align: center;
}

h3 {
  /* border: 3px solid grey; */
  color: #e3e3e3;
  width: 400px;
  height: 175px;
  text-align: center;
}
