body {                                                                          /* The entire page */
  background-color: #7395ae;                                                    /* Light blue background color */
}

.venueOutput {                                                                  /* The information outputted for the venue */
  margin-top: 8%;                                                               /* Moves the content down as the % increases */
  margin-left: 3%;                                                              /* Moves the content to the right as the % increases */
}

img {                                                                           /* The image of the venue */
  width:750px;                                                                  /* Set the width */
  height: 400px;                                                                /* Set the height */
  float: left;                                                                  /* Float to the left of the venue text information */
}

h1 {                                                                            /* Venue title */
  font-family: 'Playfair Display', serif;                                       /* Change the font */
  font-weight: bold;                                                            /* Change the font to be bold */
  color: #e3e3e3;                                                               /* Change the font color */
  text-align: center;                                                           /* Center the title */
}

p {                                                                             /* Text information about the venue */
  font-family: 'Source Sans Pro', sans-serif;                                   /* Change the font */
  color: #e3e3e3;                                                               /* Change the font color */
  font-size: 20px;                                                              /* Change the font size */
  text-align: center;                                                           /* Center the text */
}

a {                                                                             /* Hyperlinks (venue website) */
  color: #b0e9ff;                                                               /* Keep the website link the white font color */
}

#price {                                                                        /* Price of the venue */
  color: #7bd96c;                                                               /* Change the color to a green */
  font-size: 20px;                                                              /* Make the font size bigger */
}


.button1 {
  margin-left: 20px
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}